.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    align-items: top;
    padding-top: 10px;
    /* background-image: linear-gradient(0deg, white , gray); */
    background-color: white;
}

.header-left, .header-right {
    padding-top: 15px;
}

.header-left {
    margin-left: 40px;
    display: flex;
    justify-content: start;
}

.menu-tab {
    color: black;
    font-family: "Bebas Neue", Arial;
    font-size: 35px;
    margin-right: 20px;
    transition-duration: 50ms;
}

.menu-tab:hover {
    opacity: 70%;
}

.header-mid {
    display: flex;
    justify-content: center;
}

.header-text {
    font-size: 100px;
    font-family: "Bebas Neue", Arial;
    color: black;
    font-weight: 800;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 40px;
}

.social-media-logos {
    width: 35px;
    opacity: 100%;
    transition-duration: 50ms;
    margin-left: 1.5vw;
}

.social-media-logos:hover {
    opacity: 70%;
}

.dropdown, .dropdown-menu {
    display: none;
}

@media screen and (max-width: 700px){
    .header-left, .header-right {
        display: none;
        
    }

    .header-mid {
        /* background-color: pink; */
        display: flex;
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .dropdown {
        /* margin-top: 10px; */
        display: inline-block;
        width: 70px;
        height: 70px;
        opacity: 80%;
        cursor: pointer;
    }

    .hamburger-icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .booking {
        padding-top: 20vw;
    }

    .dropdown-menu {
        position: absolute;
        top: 0px;

        display: none;
        background-color: white;
        row-gap: 30px;
        width: 100vw;
        height: 100vh;
        margin-left: 0;

        opacity: 1;
        /* transition: opacity 150ms ease-in-out; */
    }

    .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        opacity: 70%;
        cursor: pointer;
    }

    .menu-wrapper {
        padding-top: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-tab {
        /* display: block; */
        text-align: center;
        /* background-color: blue; */
        color: black;
        font-size: 60px;
    }

    u {
        text-decoration: none;
    }
}