.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    align-items: center;
    background-image: linear-gradient(0deg, white , gray);
}

.header-left {
    margin-left: 40px;
    display: flex;
    justify-content: start;
}

.menu-tab {
    color: black;
    font-family: "Bebas Neue", Arial;
    font-size: 35px;
    margin-right: 20px;
    transition-duration: 50ms;
}

.menu-tab:hover {
    opacity: 70%;
}

.header-mid {
    display: flex;
    justify-content: center;
}

.header-text {
    font-size: 100px;
    font-family: "Bebas Neue", Arial;
    color: black;
    font-weight: 800;
    margin-top: 10px;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 40px;
}

.social-media-logos {
    width: 50px;
    opacity: 60%;
    transition-duration: 50ms;
    margin-right: 20px;
}

.social-media-logos:hover {
    opacity: 100%;
}