

.social-media-container {
    display: flex;
    flex-direction: row;
    column-gap: 6vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: black;
    justify-content: center;
}

.social-media-logos-bottom, .social-media-logos-am-bottom {
    width: 4vw;
    opacity: 100%;
    transition-duration: 50ms;
    margin-left: 1.5vw;
}

.social-media-logos-am-bottom {
    border-radius: 50%;
}

.social-media-logos-bottom:hover, .social-media-logos-am-bottom:hover {
    opacity: 70%;
}

@media screen and (max-width: 700px) {
    .social-media-container {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 10vh; 
        column-gap: 10vw;
    }
    
    .social-media-logos-bottom, .social-media-logos-am-bottom {
        width: 30px;
    }
}